@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .header-bg {
    backdrop-filter: blur(21px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      linear-gradient(
        148.05deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
  }
  body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
  .bg-img {
    background-image: url("../public/Images/2nd-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .nav-bg {
    background: radial-gradient(
      86.21% 361.02% at 41.21% 50.21%,
      #a1251f 0%,
      #122790 100%
    );
  }
  .first-bg {
    background-image: url("../public/Images/Final-bg-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tube-bg {
    background: linear-gradient(
      90deg,
      #f1efef -24.18%,
      #f9f8f8 50.26%,
      #e7e5e5 114.84%
    );
  }
  .corner {
    width: 12px;
    height: 12px;
    left: calc(50% - 12px / 2 + 12px);
    bottom: 5px;
    background: #b9d9ff;
    border-radius: 1px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  }
  .corner-1 {
    width: 12px;
    height: 12px;
    left: calc(50% - 12px / 2 + 12px);
    bottom: 5px;
    background: #fff8b9;
    border-radius: 1px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(255, 255, 255);

    font-weight: 400;
  }
  .slick-prev {
    display: none;
  }
  .slick-next {
    display: none;
  }
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f9623b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 1rem;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* li .slick-active {
    background: red;
    height: 2rem;
  } */
  .slick-dots .slick-active {
    width: 27px;
    height: 8px;
    background: #f9623b;
    border-radius: 8px;
    color: inherit;
    transition: all;
    transition-duration: 300ms;
  }
  .slick-dots li button::before {
    width: 8px;
    height: 8px;
    background: #d9d9d9;
    border-radius: 100%;
    color: inherit;
  }

  .slick-dots li.slick-active button:before {
    display: none;
  }
}
